recover-cart.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write an abandoned cart recovery email in HTML format for:\n\nCustomer: {{ $json.body.customer.first_name }} {{ $json.body.customer.last_name }}\nProduct: {{ $json.body.line_items[0].title }}\nPrice: ${{ $json.body.line_items[0].price }}\nCart URL: {{ $json.body.abandoned_checkout_url }}\n\nUse this exact structure:\n\n<p>Hi [FirstName],</p>\n<p>We saved your [Product] ($[Price]) in your cart.</p>\n<p>Use discount code <strong>CART10</strong> for 10% off.</p>\n<p style=\"text-align: center;\">\n  <a href=\"[CartURL]\" style=\"background-color: #4CAF50; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; display: inline-block;\">Complete Your Purchase</a>\n</p>\n<p>Best regards,<br>The Store Team</p>\n\nReplace [FirstName], [Product], [Price], and [CartURL] with the actual values.\nOutput ONLY the HTML code, nothing else.",
        "options": {}
      },
      "id": "dec78076-6303-4ce6-a167-9ea4a4e96c93",
      "name": "Generate Recovery Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        320,
        -48
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.customer.email }}",
        "subject": "=You left something behind, {{ $('Webhook').item.json.body.customer.first_name }}.",
        "message": "=<p>{{ $json.output }}</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "d4180da7-fa21-4310-829d-88e79fa79e6b",
      "name": "Send Email to Customer",
      "type": "n8n-nodes-base.gmail",
      "position": [
        688,
        -48
      ],
      "webhookId": "fb71183d-2a4d-4eca-a73b-225d4cfa4d2d",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "KxpeSBxMJgg6Qvgx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        320,
        192
      ],
      "id": "10766587-c27b-4575-948c-65f4bd11072d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "B68y7Nos42djxfGH",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify-abandoned-cart",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        -48
      ],
      "id": "cc3149ed-3805-4909-afd3-51473af75b00",
      "name": "Webhook",
      "webhookId": "68a6ce22-177b-4390-8976-d5ec41587c03",
      "retryOnFail": false
    }
  ],
  "connections": {
    "Generate Recovery Email": {
      "main": [
        [
          {
            "node": "Send Email to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Customer": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Recovery Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Recovery Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9aed335023c55163eecd327a0e5a5b77e1179ff22255523c4d2b3c93aed383c1"
  }
}